[OBIEE]
OBIEE_VERSION=12
CLIENT_ONLY=False
OBIEE_HOME=C:\\oracle\\Middleware\\Oracle_Home
OBIEE_CLIENT=C:\\OBIEE

RPD_PW=Admin123

[Git]
GIT_EXE=C:\\Users\\Administrator\\AppData\\Local\\Atlassian\\SourceTree\\git_local\\bin\\git.exe
GIT_REPO=C:\\Users\\Administrator\\Documents\\rpd-test
GIT_RPD=Base.rpd

GIT_REMOTE=origin
GIT_DEVELOP=develop
GIT_MASTER=master
FEATURE_PREFIX=feature/
HOTFIX_PREFIX=hotfix/
RELEASE_PREFIX=release/

[SVN]
SVN_BIN=C:\\Program Files\\TortoiseSVN\\bin\\svn.exe
SVN_BASE_URL=https://training/svn/OBIEE
SVN_TRUNK=trunk
SVN_DEVELOP=branches/develop
SVN_DEV_BRANCH_ROOT=branches/feature
SVN_RELEASE_BRANCH_ROOT=branches/release
SVN_RELEASE_HF_BRANCH_ROOT=branches/release-hotfix
SVN_HF_BRANCH_ROOT=branches/hotfix
